<header ng-switch on="$location.path().indexOf('/Cars/new') > -1">
    <h3 ng-switch-when="true">Create a new Car</h3>
    <h3 ng-switch-when="false">View or edit Car</h3>
</header>
<form id="CarForm" name="CarForm" class="form-horizontal" role="form">
    

    <div class="form-group" ng-class="{'has-error': CarForm.url.$invalid}">
        <label for="url" class="col-sm-2 control-label">Url</label>
        <div id="urlControls" class="col-sm-10">
            <input id="url" name="url" type="text" required class="form-control" ng-model="car.url" placeholder="Enter the Car Url"></input>
            <span class="help-block error" ng-show="CarForm.url.$error.required">required</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': CarForm.make.$invalid}">
        <label for="make" class="col-sm-2 control-label">Make</label>
        <div id="makeControls" class="col-sm-10">
            <input id="make" name="make" type="text" required class="form-control" ng-model="car.make" placeholder="Enter the Car Make"></input>
            <span class="help-block error" ng-show="CarForm.make.$error.required">required</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': CarForm.model.$invalid}">
        <label for="model" class="col-sm-2 control-label">Model</label>
        <div id="modelControls" class="col-sm-10">
            <input id="model" name="model" type="text" required class="form-control" ng-model="car.model" placeholder="Enter the Car Model"></input>
            <span class="help-block error" ng-show="CarForm.model.$error.required">required</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': CarForm.rating.$invalid}">
        <label for="rating" class="col-sm-2 control-label">Rating</label>
        <div id="ratingControls" class="col-sm-10">
            <!--<input id="rating" name="rating" type="number" class="form-control" ng-model="car.rating" placeholder="Enter the Car Rating"></input>-->
            <input id="rating" name="rating" type="range" class="slider" ng-model="car.rating" min="1" max="10">
            <span class="help-block error" ng-show="CarForm.rating.$error.number">not a number</span>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveCar" name="saveCar" class="btn btn-primary" ng-disabled="isClean() || CarForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteCar" name="deleteCar" class="btn btn-danger" ng-show="car.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>